RewriteEngine On
RewriteBase /

# Specific Rules First
RewriteRule ^details/([a-zA-Z0-9\-]+)/?$ src/pages/details.php?slug=$1 [L,QSA]
RewriteRule ^anime/([a-zA-Z0-9\-]+)/?$ src/pages/anime.php?slug=$1 [L,QSA]
RewriteRule ^watch/([a-zA-Z0-9\-]+)/?$ src/pages/watch.php?slug=$1 [L,QSA]
RewriteRule ^play/([a-zA-Z0-9\-]+)/?$ src/pages/play.php?slug=$1 [L,QSA]
RewriteRule ^genre/([a-zA-Z0-9\-]+)/?$ src/pages/genre.php?keyword=$1 [L,QSA]

# Broad Rules
RewriteRule ^.*details.*$ src/pages/details.php [L,QSA]
RewriteRule ^.*details.*$ src/pages/details.php [L,QSA]
RewriteRule ^.*random.*$ src/component/random.php [L,QSA]
RewriteRule ^.*anime.*$ src/pages/anime.php [L,QSA]
RewriteRule ^.*dmca.*$ src/pages/extra/dmca.php [L,QSA]
RewriteRule ^.*terms.*$ src/pages/extra/terms.php [L,QSA]
RewriteRule ^.*manga.*$ src/pages/manga.php [L,QSA]
RewriteRule ^.*az-list.*$ src/pages/az-list.php [L,QSA]
RewriteRule ^.*pre-qtip.*$ src/ajax/pre-qtip.php [L,QSA]
RewriteRule ^.*login.*$ src/user/login.php [L,QSA]
RewriteRule ^.*register.*$ src/user/register.php [L,QSA]
RewriteRule ^.*logout.*$ src/user/logout.php [L,QSA]
RewriteRule ^.*profile.*$ src/user/profile.php [L,QSA]
RewriteRule ^.*watchlist.*$ src/user/watchlist.php [L,QSA]
RewriteRule ^.*changepass.*$ src/user/changepass.php [L,QSA]
RewriteRule ^.*continue-watching.*$ src/user/continue-watching.php [L,QSA]


# Error Document
ErrorDocument 404 /404.php
