RewriteEngine On
RewriteBase /

# Rewrite any request that is not a real file or directory to router.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# This will redirect all requests to router.php
RewriteRule ^(.+)$ router.php [L]

<IfModule mod_rewrite.c>
    RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>
